<html>
	<head>
        <link rel="stylesheet" href="/stylesheets/98.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/vs.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/docs.css" type="text/css">
		<style type="text/css">
			h2 {
				margin: 0px;
				padding: -10px;
				font-family: 'Roboto', sans-serif;
				font-size: 50px;
			}
			p {
				padding-top: -50px
			}
			table{
				border-collapse: collapse;
				border: 1px solid black;
			}
			th, td{
				text-align: left;
				padding: 8px
			} 
			tr:nth-child(even){background-color: #f2f2f2;}	
			.file{
				border: 2px solid gray;
				color: gray;
				background: white;
				padding: 8px 20px;
				padding-top: -20px;  
				border-radius: 8px;
				overflow: hidden; 
				position: center;
				margin-top: 20px;
			}
			.bottomleft {
			  position: absolute;
			  bottom: 8px;
			  left: 16px;
			  font-size: 18px;
			}
		</style>
	</head>
	<body>
	<h2 align="center"> Public Files </h2>
	<p class="bottomleft">
		<br>
		<a href="/"  class="icon-block">
		<i class="icon-home icon-4x"></i> 
		<span> Homepage </span>
		</a> 
	</br>
	</p>
	<table align="center">
		<tr>
		<th>Filename</th>
		<th>Download</th>
		<th>Remove</th>
		<th>View</th>
		</tr>
		<% @files.each do |f| %>
			<%="<tr>"%>
				<%="<td> #{f}</td>"%>
				<%="<td><a href=\"/download/#{f}\"> Download </a> </td>"%>
				<%="<td><a href=\"/remove/#{f}\"> Remove </a>  </td>"%>
				<%="<td><a href=\"/public/#{f}\"> View </a>  </td>"%>
			<%="</tr>\n" %>
		<% end %>
	</table>
		<form method="post" action="/upload" enctype="multipart/form-data" align="center">
			<div align="center" class="box">
			<label for="file" class="">
				<input type="file" id="file" name="file[]" multiple>
			</label>
			</div>
			<div align="center" class="upload-btn-wrapper">
				<button class="btn">Submit</button>
			</div>
		</form>

	</body>
</html>